.navbar-collapse {
    justify-content: flex-end;
  }
  .fa-graduation-cap {
    font-size: 32px;
  }
  .cd-scroll-bg.cd-color-3 {
    background-color: #F7F7F7;
    color: darkcyan !important;
  }
  .cd-scroll-bg {
    position: relative;
    min-height: 100%;
    padding: 4em 0;
    line-height: 1.6;
    box-shadow: 0 0 50px rgbs(0,0,0,0.5);
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-size: 100%;
    background-color: #F7F7F7;
    color: #333333;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background: #CC3300;
    color: #FFFFFF;
}
.cd-scroll-bg {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.cd-container h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 175%;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #990000;
}
.title {
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #000066 !important;
}
.cd-container h2 {
    font-family: "Roboto", sans-serif;
    font-size: 110%;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 3%;
    color: #000066;
    text-align: center;
}
.cd-container p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: justify;
    color: #333333;
    margin-top: 10px;
}
.footer {
    background-color: #cb2027;
    height: 60px;
    width: auto;
    text-align: center;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer p {
    margin: 0px;
  }